* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*:not(i) {
    font-family: "Poppins", sans-serif;
}
body {
    background-image: linear-gradient(to right top, #103873, #00537a, #00686d, #457861, #7a8464);
    height: 100vh;
}
.container {
    background-color: #ffffff;
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
    transition: all 0.3s ease-in-out;
}
.container:hover {
    box-shadow: 0 40px 80px rgba(38, 33, 61, 0.4);
    transform: translate(-50%, -45%);
}
.search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: #011020;
}
.search-box input {
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid #ae9cff;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}
.search-box input:focus {
    border-bottom-width: 4px;
}
.search-box button {
    padding: 15px 0;
    width: 25%;
    background-color: #342575;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
.search-box button:hover {
    background-color: #453f70;
    color: #ae9cff;
}
.result {
    position: relative;
}
.result h3 {
    font-size: 30px;
    color: #1f194c;
    transition: all 0.2s ease-in-out;
}
.result:hover h3 {
    color: #ae9cff;
}
.result .word {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    transition: all 0.2s ease-in-out;
}
.result button {
    background-color: transparent;
    color: #ae9cff;
    border: none;
    outline: none;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}
.result:hover button {
    color: #1f194c;
}
.result .details {
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}
.word-meaning {
    color: #575a7b;
    transition: all 0.2s ease-in-out;
}
.word-example {
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding-left: 20px;
    margin-top: 30px;
    transition: all 0.2s ease-in-out;
}
.error {
    margin-top: 80px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}
.error:hover {
    color: #1f194c;
}
@media only screen and (max-width: 600px) {
    .container {
        padding: 40px 20px; 
    }
    .search-box input {
        font-size: 14px; 
    }
    .search-box button {
        font-size: 14px; 
    }
    .result h3 {
        font-size: 20px; 
    }
    .result .word {
        margin-top: 30px; 
    }
    .result button {
        font-size: 14px; 
    }
    .result .details {
        font-size: 12px; 
    }
    .word-example {
        margin-top: 15px; 
    }
    .result:hover h3 {
        color: #1f194c;
    }
    .result:hover button {
        color: #1f194c;
    }
    .error {
        margin-top: 30px; 
    }
    .error:hover {
        color: #1f194c;
    }
}